.swiper {
    display: flex;
    width: auto;
    height: auto;
}

.swiper-warper {
    width: 10%;
}

.carrossel {
    justify-content: center;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}


.swiper-slide {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 430px) {


}